---
title: beach
thumbnail: /assets/images/Lars_vanstraalen_1.jpg
images:
  - /assets/images/Lars_vanstraalen_1.jpg
tags:
  - project
layout: project.njk
---
a figure dissolves into the sea. the tree holds its ground.
