---
title: beach ii
thumbnail: /assets/images/Lars_vanstraalen_2.jpg
images:
  - /assets/images/Lars_vanstraalen_2.jpg
tags:
  - project
layout: project.njk
---
the season is over. the chairs remain, facing nothing.
