---
title: beach iii
thumbnail: /assets/images/Lars_vanstraalen_6.jpg
images:
  - /assets/images/Lars_vanstraalen_6.jpg
tags:
  - project
layout: project.njk
---
the lifeguard tower stands. the sea does not ask permission.
