---
title: boom
thumbnail: /assets/images/Lars_vanstraalen_15.jpg
images:
  - /assets/images/Lars_vanstraalen_15.jpg
tags:
  - project
layout: project.njk
---
a skyline from the water. the city presents itself, unasked.
