---
title: brut
thumbnail: /assets/images/Lars_vanstraalen_13.jpg
images:
  - /assets/images/Lars_vanstraalen_13.jpg
tags:
  - project
layout: project.njk
---
concrete erodes. the billboard above it stays blank, patient.
