---
title: david
thumbnail: /assets/images/Lars_vanstraalen_16.jpg
images:
  - /assets/images/Lars_vanstraalen_16.jpg
tags:
  - project
layout: project.njk
---
no place for beginners or sensitive hearts. the building agrees.
