---
title: door
thumbnail: /assets/images/Lars_vanstraalen_18.jpg
images:
  - /assets/images/Lars_vanstraalen_18.jpg
tags:
  - project
layout: project.njk
---
number 1150. fish on ice, scale on the wall. a whole life behind a frame.
