---
title: home palm ii
thumbnail: /assets/images/Lars_vanstraalen_10.jpg
images:
  - /assets/images/Lars_vanstraalen_10.jpg
tags:
  - project
layout: project.njk
---
the shadow is more present than the plant. the wall listens.
