---
title: home palm
thumbnail: /assets/images/Lars_vanstraalen_9.jpg
images:
  - /assets/images/Lars_vanstraalen_9.jpg
tags:
  - project
layout: project.njk
---
soft focus, sharp reach. a plant rehearsing wildness indoors.
