---
title: kop
thumbnail: /assets/images/Lars_vanstraalen_5.jpg
images:
  - /assets/images/Lars_vanstraalen_5.jpg
tags:
  - project
layout: project.njk
---
seen from below, a bridge becomes a horizon.
