---
title: linework
thumbnail: /assets/images/Lars_vanstraalen_8.jpg
images:
  - /assets/images/Lars_vanstraalen_8.jpg
tags:
  - project
layout: project.njk
---
concrete scores itself with shadow. steps as notation.
