---
title: lonely
thumbnail: /assets/images/Lars_vanstraalen_14.jpg
images:
  - /assets/images/Lars_vanstraalen_14.jpg
tags:
  - project
layout: project.njk
---
a peninsula narrows to a point. one hut, one tree, surrounded.
