---
title: man bridge
thumbnail: /assets/images/Lars_vanstraalen_11.jpg
images:
  - /assets/images/Lars_vanstraalen_11.jpg
tags:
  - project
layout: project.njk
---
a man on a bridge, hand to head, checking his phone. the city below, indifferent.
