---
title: material contrast
thumbnail: /assets/images/Lars_vanstraalen_19.jpg
images:
  - /assets/images/Lars_vanstraalen_19.jpg
tags:
  - project
layout: project.njk
---
a sheep grazes on turf inside a gallery. the fluorescent lights hum. nature, curated.
