---
title: plexi
thumbnail: /assets/images/Lars_vanstraalen_3.jpg
images:
  - /assets/images/Lars_vanstraalen_3.jpg
tags:
  - project
layout: project.njk
---
corrugated light. a window cut precisely from noise.
