---
title: rem
thumbnail: /assets/images/Lars_vanstraalen_4.jpg
images:
  - /assets/images/Lars_vanstraalen_4.jpg
tags:
  - project
layout: project.njk
---
a façade that refuses to end. glass, steel, repetition.
