---
title: shell
thumbnail: /assets/images/Lars_vanstraalen_7.jpg
images:
  - /assets/images/Lars_vanstraalen_7.jpg
tags:
  - project
layout: project.njk
---
ten thousand hexagons, one gesture. the sky disagrees.
