---
title: three
thumbnail: /assets/images/Lars_vanstraalen_12.jpg
images:
  - /assets/images/Lars_vanstraalen_12.jpg
tags:
  - project
layout: project.njk
---
three black slabs in a white room. the space between them is the work.
