---
title: two
thumbnail: /assets/images/Lars_vanstraalen_17.jpg
images:
  - /assets/images/Lars_vanstraalen_17.jpg
tags:
  - project
layout: project.njk
---
two columns hold the light. the door is open but no one passes.
